# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# validator keys
validator_keys/*.json

pyevm/
src/DepositContract.bin
src/DepositContract.evm
src/DepositContract_evm.json
src/ERC165.bin
src/ERC165.evm
src/ERC165_evm.json
src/IDepositContract.bin
src/IDepositContract.evm
src/IDepositContract_evm.json
src/ReturnDataSizeOffset.huff
src/example/
src/offset/
test/IDepositContract.sol
